<div class="row">

  <div class="col-12" v-if="$i18n.locale == 'en'">
    <h1>Welcome in Foilen Infra</h1>
    <p>
      This application gives you a view of all the resources in your Infrastructure. It exposes this UI and also a REST API that you can view the <a href="/swagger-ui.html" target="_blank">documentation
        here</a>.
    </p>
  </div>

  <div class="col-12" v-if="$i18n.locale == 'fr'">
    <h1>Bienvenue dans Foilen Infra</h1>
    <p>
      Cette application vous donne une vue de toutes vos resouces dans votre Infrastructure. Elle expose cet interface graphique ainsi qu'une API REST dont vous pouvez explorer <a
        href="/swagger-ui.html" target="_blank">la documentation ici</a>.
    </p>
  </div>

</div>